html {
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
}

#main-container {
	height: auto;
	width: auto;
	display: inline-table;
}

#main-container div {
	display: inline-block;
	position: relative;
}

h2 {
	position: relative;
}

#menu {
	width: 150px;
	float: left;
	top: 15em;
	margin-right: 10px;
}

#menu li {
	color: white;
	font-weight: bold;
	text-align: center;
	margin: 25px 10px 25px -25px;
	padding: 10px;
	border: 1px solid white;
	background-color: #92B388;
}

#grid-container {
	width: 975px;
	border: 1px solid green;
	left: 5em;
	background-color: #92B388;
}

#grid {
	margin-top: -13px;
}

.square {
	width: 35px;
	height: 35px;
	background-color: white;
	display: inline-block;
}